# Embeddings

In [30]:
import sqlite3
from typing import List

import pandas as pd
from typing import *

In [31]:
# Create your connection.
db = sqlite3.connect('../stackoverflow.db')

In [32]:
tag_df = pd.read_sql_query("SELECT * FROM Tag", db)
tag_df.set_index('TagId', inplace=True)
tag_df

            TagName    Count
TagId
1              .net   323469
2              html  1146245
3        javascript  2426650
4               css   771867
5               php  1445747
...             ...      ...
158156  lost-update        1
158157  chai-subset        1
158159       at-spi        1
158160          oro        0
158161       sigsci        1

[63653 rows x 2 columns]

In [33]:
POST_LIMIT = 500000
post_df = pd.read_sql_query(f"SELECT * FROM Post LIMIT {POST_LIMIT}", db)
post_df.set_index('PostId', inplace=True)
post_df

,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditorDisplayName,LastEditDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,CommunityOwnedDate,ContentLicense,ParentId
PostId,,,,,,,,,,,,,,,,,,
1,1,7.0,2008-07-31T21:42:52.667,781,67914.0,<p>I want to assign the decimal variable &quot...,8.0,16124033.0,Rich B,2022-09-08T05:07:26.033,How to convert Decimal to Double in C#?,<c#><floating-point><type-conversion><double><...,14.0,6,60.0,2012-10-31T16:42:47.213,CC BY-SA 4.0,NaN
2,1,31.0,2008-07-31T22:08:08.620,318,23047.0,<p>I have an absolutely positioned <code>div</...,9.0,9134576.0,user14723686,2021-01-29T18:46:45.963,Why did the width collapse in the percentage w...,<html><css><internet-explorer-7>,7.0,0,13.0,None,CC BY-SA 4.0,NaN
3,2,NaN,2008-07-31T22:17:57.883,517,NaN,<p>An explicit cast to <code>double</code> lik...,9.0,5496973.0,None,2019-10-21T14:03:54.607,None,None,NaN,1,NaN,None,CC BY-SA 4.0,4.0
4,1,1404.0,2008-07-31T23:40:59.743,2161,757897.0,<p>Given a <code>DateTime</code> representing ...,1.0,3524942.0,Rich B,2022-07-27T22:34:36.320,How do I calculate someone's age based on a Da...,<c#><.net><datetime>,71.0,10,492.0,2011-08-16T19:40:43.080,CC BY-SA 4.0,NaN
5,1,1248.0,2008-07-31T23:55:37.967,1629,193525.0,<p>Given a specific <code>DateTime</code> valu...,1.0,16790137.0,user2370523,2022-07-10T00:19:55.237,Calculate relative time in C#,<c#><datetime><time><datediff><relative-time-s...,41.0,3,552.0,2009-09-04T13:15:59.820,CC BY-SA 4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499996,2,NaN,2009-04-03T02:10:35.270,2,NaN,<p>If we can assume that:</p>\n\n<ul>\n<li>the...,72990.0,NaN,None,None,None,None,NaN,0,NaN,None,CC BY-SA 2.5,712186.0
499997,2,NaN,2009-04-03T02:10:49.060,1,NaN,<p>Change:</p>\n\n<pre><code>for ansSeries in ...,9940.0,NaN,None,None,None,None,NaN,0,NaN,None,CC BY-SA 2.5,712225.0
499998,1,799526.0,2009-04-03T02:11:16.237,4,3611.0,<p>Here are the first few lines of my page:</p...,63887.0,NaN,None,None,Why can't I use session_start() in my php scri...,<php><session><cookies><header>,2.0,2,NaN,None,CC BY-SA 2.5,NaN
499999,2,NaN,2009-04-03T02:14:04.293,5,NaN,"<p>Since, in general, there is more than one p...",15168.0,NaN,None,None,None,None,NaN,1,NaN,None,CC BY-SA 2.5,712322.0
500000,2,NaN,2009-04-03T02:15:39.347,1,NaN,<p>Ugh. Short of writing your own authenticati...,85863.0,NaN,None,None,None,None,NaN,1,NaN,None,CC BY-SA 2.5,712023.0

In [34]:
BADGE_LIMIT = 500000
badge_df = pd.read_sql_query(f"SELECT * FROM badge LIMIT {BADGE_LIMIT}", db)
badge_df.set_index('BadgeId', inplace=True)
badge_df

         UserId              Name             CreationDate  Class TagBased
BadgeId
1          3718           Teacher  2008-09-15T08:55:03.923      3    False
2           994           Teacher  2008-09-15T08:55:03.957      3    False
3          3893           Teacher  2008-09-15T08:55:03.957      3    False
4          4591           Teacher  2008-09-15T08:55:03.957      3    False
5          5196           Teacher  2008-09-15T08:55:03.957      3    False
...         ...               ...                      ...    ...      ...
499996    51452       Good Answer  2010-02-15T12:27:33.500      2    False
499997   250648            Critic  2010-02-15T12:32:31.950      3    False
499998   162569       Commentator  2010-02-15T12:32:32.713      3    False
499999   116388  Popular Question  2010-02-15T12:32:32.930      3    False
500000   267503        Tumbleweed  2010-02-15T12:32:35.007      3    False

[500000 rows x 5 columns]

In [35]:
user_LIMIT = 500000
user_df = pd.read_sql_query(f"SELECT * FROM user LIMIT {user_LIMIT}", db)
user_df.set_index('UserId', inplace=True)
user_df

,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
UserId,,,,,,,,,,,,
-1009,1,2022-05-17T15:06:54.890,WSO2,2022-05-17T15:06:54.890,None,None,<p>WSO2 solutions give enterprises the flexibi...,0,0,0,None,NaN
-1008,1,2022-01-31T19:45:27.477,Twilio,2022-01-31T19:45:27.477,None,None,<p>Twilio has democratized channels like voice...,0,0,0,None,NaN
-1007,1,2021-09-30T18:39:12.143,AudioBubble2,2021-09-30T18:39:12.143,None,None,<p>Official Q&amp;A support for AudioBubble2</...,0,0,0,None,NaN
-1006,1,2021-09-27T19:40:44.437,Intel,2021-09-27T19:40:44.437,None,None,<p>A space for developers to collaborate on In...,0,0,0,None,NaN
-1005,1,2021-07-29T14:07:57.580,GitLab,2021-07-29T14:07:57.580,None,None,"<p>GitLab is the open DevOps platform, deliver...",0,0,0,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
884592,31,2011-08-08T18:18:02.387,Ann,2011-08-08T18:18:02.387,None,None,None,0,0,0,None,802774.0
884593,335,2011-08-08T18:19:27.857,ymliu,2020-04-23T00:04:46.763,,None,,33,8,0,https://i.stack.imgur.com/jMCNj.jpg,474725.0
884595,123,2011-08-08T18:20:03.193,Neil Woods,2021-09-08T11:14:32.143,,None,,6,3,0,None,802775.0
884597,21,2011-08-08T18:21:27.077,Nathan B,2022-09-22T20:23:45.923,,None,,14,28,0,https://i.stack.imgur.com/CMmBO.jpg,474727.0
884599,31,2011-08-08T18:22:16.987,Quaitex,2011-09-01T14:16:54.883,None,None,None,5,0,0,None,796823.0

In [36]:
comment_LIMIT = 500000
comment_df = pd.read_sql_query(f"SELECT * FROM comment LIMIT {comment_LIMIT}", db)
comment_df.set_index('CommentId', inplace=True)
comment_df

,PostId,Score,Body,CreationDate,UserId,ContentLicense
CommentId,,,,,,
1,45651,6,It will help if you give some details of which...,2008-09-06T13:38:23.647,242.0,CC BY-SA 2.5
2,47428,3,One of the things that make a url user-friendl...,2008-09-06T13:51:47.843,4642.0,CC BY-SA 2.5
3,47481,0,"I agree, both CodeRush and RefactorPro are vis...",2008-09-06T14:15:46.897,4642.0,CC BY-SA 2.5
4,47373,0,Just wanted to mention that this is an excelle...,2008-09-06T14:30:40.217,2495.0,CC BY-SA 2.5
5,47497,1,"Indeed, the only way to do this is get the ser...",2008-09-06T14:42:35.303,4642.0,CC BY-SA 2.5
...,...,...,...,...,...,...
499996,1044179,0,The index is there already. How can I force or...,2009-06-26T05:43:11.223,87248.0,CC BY-SA 2.5
499997,1047464,0,are you sure you can rewrite to a URL on anoth...,2009-06-26T05:43:42.253,109102.0,CC BY-SA 2.5
499998,1045341,0,Not sure if I understood correctly. \nWhere's ...,2009-06-26T05:46:21.890,73715.0,CC BY-SA 2.5
499999,1047471,0,Is there a way to remove that selected class f...,2009-06-26T05:46:23.497,86038.0,CC BY-SA 2.5
500000,1043743,0,I've added some XSLT that does the necessary c...,2009-06-26T05:48:48.330,18771.0,CC BY-SA 2.5

In [37]:
vote_LIMIT = 500000
vote_df = pd.read_sql_query(f"SELECT * FROM vote LIMIT {vote_LIMIT}", db)
vote_df.set_index('VoteId', inplace=True)
vote_df

        PostId  VoteTypeId             CreationDate
VoteId
1            1           2  2008-07-31T00:00:00.000
2            3           2  2008-07-31T00:00:00.000
3            2           2  2008-07-31T00:00:00.000
4            4           2  2008-07-31T00:00:00.000
5            6           2  2008-07-31T00:00:00.000
...        ...         ...                      ...
499996  231200           2  2008-10-23T00:00:00.000
499997  231274           2  2008-10-23T00:00:00.000
499998  230845           5  2008-10-23T00:00:00.000
499999  231245           2  2008-10-23T00:00:00.000
500000  149397           2  2008-10-23T00:00:00.000

[500000 rows x 3 columns]

So, we want to build an embedding for the body of posts.
The body of posts are stored as HTML, we need to split up the text and the code snippets so we can process them separately.

In [38]:
sample_post = post_df.head(1)
sample_post = sample_post[['Body', 'Title']]  # Questions also have a title that has useful information
sample_post

,Body,Title
PostId,,
1,<p>I want to assign the decimal variable &quot...,How to convert Decimal to Double in C#?

Let's process the Body first

In [39]:
from bs4 import BeautifulSoup
import spacy
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torchtext.vocab import GloVe

en = spacy.load('en_core_web_sm')
stopwords = en.Defaults.stop_words

In [103]:
class PostEmbedding(nn.Module):

    def __init__(self):
        super().__init__()
        self._global_vectors = GloVe(name='840B', dim=300)

    def forward(self, html, flatten=True) -> torch.tensor:
        soup = BeautifulSoup(html)
        ps = self.get_paragraphs(soup)
        if flatten:
            ps = [token for para in ps for token in para]

        para_emb = self.to_paragraph_embedding(ps)

        code = self.get_code(soup)
        return para_emb

    def preprocess(self, text: str) -> List[str]:
        doc = en(text.lower())
        tokens = [word.text for word in doc if not (word.is_stop or word.is_punct or word.like_num)]
        return tokens

    def get_paragraphs(self, soup: BeautifulSoup) -> List[List[str]]:
        return [self.preprocess(x.get_text()) for x in soup.find_all('p')]

    def to_paragraph_embedding(self, tokens: List[str]):
        word_embeddings = self._global_vectors.get_vecs_by_tokens(tokens)
        return torch.sum(word_embeddings, dim=0) / len(tokens)


    def get_code(self, soup: BeautifulSoup) -> str:
        return "\n".join([x.get_text() for x in soup.find_all('code')])


html = sample_post['Body'].item()
embedding = PostEmbedding()
embedding(html)

tensor([ 1.0931e-01,  1.2610e-01, -1.5278e-01,  1.1698e-01,  6.2754e-02,
         3.4803e-02,  1.1569e-01, -3.8018e-02, -6.4326e-02,  1.0196e+00,
         4.5568e-03, -3.6842e-02, -1.9556e-02,  8.6903e-02, -3.4653e-02,
         8.7839e-03, -2.5284e-01,  1.6704e+00, -1.0373e-01, -1.6457e-02,
        -3.8628e-01, -8.1090e-02, -2.7426e-02,  7.5557e-02,  4.2064e-02,
        -1.3982e-01,  8.5474e-02, -1.6217e-01,  2.0487e-01, -7.5565e-02,
         1.8346e-01,  1.6887e-01,  1.4478e-01,  6.3668e-02,  2.2488e-01,
         5.9721e-02,  8.0042e-02, -1.1098e-01, -7.7400e-02, -2.4690e-01,
         1.5362e-01, -1.3278e-01,  1.4780e-02, -7.2382e-02, -9.9370e-02,
         1.9138e-02,  1.7202e-02,  1.6036e-01, -4.6851e-02,  8.9678e-02,
        -1.9148e-01,  1.2787e-01, -2.9617e-02, -8.5206e-02,  7.8354e-02,
        -1.5131e-01, -2.4181e-03, -1.9167e-02,  2.7161e-02, -8.4863e-02,
         8.4997e-03,  7.1553e-02, -7.6828e-02,  1.3112e-01,  1.5192e-01,
         1.2668e-02,  1.1250e-01,  2.9470e-02,  2.1780e-01,  8.1155e-02,
         2.1953e-01,  2.2848e-01,  1.6714e-01, -2.8283e-01,  2.2868e-01,
         7.6762e-02,  4.5675e-02, -1.6795e-01,  7.5653e-02,  2.2656e-01,
        -1.9469e-01, -9.0845e-02, -5.0811e-02,  4.6891e-02,  7.0726e-02,
         6.8273e-02,  2.9864e-01, -1.1378e-01,  2.3121e-01, -5.2206e-02,
        -1.5224e-01,  4.6867e-02,  1.8976e-03, -9.6941e-02,  4.9463e-02,
        -3.2109e-02, -6.3274e-02,  1.1205e-01,  1.7320e-01,  2.2084e-01,
        -1.4554e-01, -1.1414e-01,  1.2291e-02,  9.2317e-02,  1.2259e-01,
        -1.2108e+00,  1.9100e-01,  1.0448e-01, -1.4816e-01,  1.2592e-01,
        -1.3363e-01, -8.2307e-02, -5.7979e-02, -1.1213e-02, -1.1485e-01,
         8.1295e-02, -7.1676e-02,  7.5275e-02, -2.3727e-01,  7.5090e-02,
         1.6785e-01, -2.3031e-01,  1.7246e-02,  1.9417e-01, -2.8899e-02,
        -7.3494e-02,  1.4515e-01, -6.0397e-02, -5.4972e-02, -1.8426e-01,
        -2.6181e-02,  6.3002e-01,  1.1992e-01,  1.1797e-01, -4.8645e-03,
         3.9525e-02,  1.5820e-01, -5.3394e-03, -5.9891e-02, -4.3569e-02,
        -7.1708e-01, -1.3365e-01,  6.6174e-02, -7.6563e-02, -5.0075e-02,
        -1.0541e-01,  3.8985e-02, -1.0467e-01, -5.2304e-02, -1.5903e-01,
         1.3674e-01,  1.3844e-01, -3.1471e-02,  5.6846e-02,  1.4457e-02,
        -2.1621e-01, -1.4627e-01,  2.7161e-02,  4.7155e-02,  4.9466e-02,
        -3.4438e-02,  1.5096e-01,  7.0697e-02, -1.6120e-01, -2.5096e-01,
        -6.1193e-02, -1.4704e-01,  5.6926e-02,  4.4866e-02,  8.8031e-02,
        -2.3500e-02,  1.0913e-01, -8.2882e-02, -2.5317e-01,  1.9121e-01,
         7.2988e-02,  1.4737e-01, -8.6635e-02,  8.3758e-04, -2.1706e-02,
         1.2725e-01,  1.1650e-02, -9.8828e-02, -9.2759e-02, -1.8527e-01,
         2.6852e-03, -1.9819e-01,  5.6634e-02, -1.7908e-01,  1.0638e-03,
        -1.6784e-01,  9.8166e-02, -3.1964e-02,  5.4221e-02,  2.9465e-01,
        -1.3291e-01, -4.6357e-02, -8.8160e-02, -7.0656e-02,  1.5407e-01,
        -1.4128e-01, -2.4495e-01, -2.2299e-02,  1.6500e-01, -4.3963e-02,
        -1.0041e-01, -8.2377e-02,  3.0481e-02,  4.9456e-02,  1.7720e-01,
        -2.3581e-02, -6.4775e-02, -4.2465e-02, -1.4065e-01, -1.5325e-01,
        -1.1591e-01, -1.8391e-01,  1.1468e-01, -3.1303e-01, -3.3980e-03,
         1.7664e-01,  9.0756e-02,  7.9576e-02,  5.4273e-02,  1.5271e-01,
         9.3236e-02,  7.9372e-02, -7.5205e-02,  1.3660e-01,  1.7959e-02,
         4.3504e-02, -1.4188e-01,  2.3157e-01,  1.7846e-01, -1.4263e-01,
         1.0843e-02, -1.2146e-01,  1.9680e-01, -1.2686e-01,  3.0785e-01,
         1.2027e-01, -3.4294e-02,  1.6297e-01,  9.7336e-02,  2.0758e-01,
        -3.9200e-01,  1.2264e-01,  2.3721e-02, -7.6239e-02, -1.1716e-02,
         3.1938e-02,  1.1971e-02, -5.1685e-02, -1.3507e-01, -1.0892e-01,
         2.5933e-01, -2.9177e-02,  2.8444e-04,  1.3021e-01, -1.4353e-01,
        -2.2893e-02,  1.1850e-01, -1.8109e-02,  9.3596e-03,  1.2715e-01,
         1.5203e-03,  7.5841e-02,  1.9156e-01,  6.5335e-01, -1.8910e-02,
         2.3467e-02, -2.4085e-01,  2.0167e-01, -1.8984e-01, -1.1093e-01,
        -1.7719e-01,  1.2169e-01,  4.8399e-02,  3.1458e-02, -3.4046e-02,
         5.3605e-03,  2.1578e-01,  1.1490e-01,  2.8380e-02, -1.0495e-01,
        -1.8348e-01, -4.5021e-02, -1.4953e-01,  1.6652e-01,  1.5448e-02,
         1.6209e-01,  5.6159e-02, -1.0245e-01,  1.7785e-01,  2.9540e-02,
        -7.0813e-02, -3.4092e-01, -9.8885e-02,  1.2751e-03, -1.3382e-01])

In [115]:
pe = PostEmbedding()
post_df['code_snippets'] = post_df['Body'].apply(lambda html: pe.get_code(BeautifulSoup(html)))
post_df

,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditorDisplayName,LastEditDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,CommunityOwnedDate,ContentLicense,ParentId,code_snippets
PostId,,,,,,,,,,,,,,,,,,,
1,1,7.0,2008-07-31T21:42:52.667,781,67914.0,<p>I want to assign the decimal variable &quot...,8.0,16124033.0,Rich B,2022-09-08T05:07:26.033,How to convert Decimal to Double in C#?,<c#><floating-point><type-conversion><double><...,14.0,6,60.0,2012-10-31T16:42:47.213,CC BY-SA 4.0,NaN,decimal trans = trackBar1.Value / 5000;\nthis....
2,1,31.0,2008-07-31T22:08:08.620,318,23047.0,<p>I have an absolutely positioned <code>div</...,9.0,9134576.0,user14723686,2021-01-29T18:46:45.963,Why did the width collapse in the percentage w...,<html><css><internet-explorer-7>,7.0,0,13.0,None,CC BY-SA 4.0,NaN,div\ndiv\npercentage-based width\ndiv\n0 width...
3,2,NaN,2008-07-31T22:17:57.883,517,NaN,<p>An explicit cast to <code>double</code> lik...,9.0,5496973.0,None,2019-10-21T14:03:54.607,None,None,NaN,1,NaN,None,CC BY-SA 4.0,4.0,double\ndouble trans = (double) trackBar1.Valu...
4,1,1404.0,2008-07-31T23:40:59.743,2161,757897.0,<p>Given a <code>DateTime</code> representing ...,1.0,3524942.0,Rich B,2022-07-27T22:34:36.320,How do I calculate someone's age based on a Da...,<c#><.net><datetime>,71.0,10,492.0,2011-08-16T19:40:43.080,CC BY-SA 4.0,NaN,DateTime
5,1,1248.0,2008-07-31T23:55:37.967,1629,193525.0,<p>Given a specific <code>DateTime</code> valu...,1.0,16790137.0,user2370523,2022-07-10T00:19:55.237,Calculate relative time in C#,<c#><datetime><time><datediff><relative-time-s...,41.0,3,552.0,2009-09-04T13:15:59.820,CC BY-SA 4.0,NaN,DateTime\n2 hours ago\n3 days ago\na month ago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499996,2,NaN,2009-04-03T02:10:35.270,2,NaN,<p>If we can assume that:</p>\n\n<ul>\n<li>the...,72990.0,NaN,None,None,None,None,NaN,0,NaN,None,CC BY-SA 2.5,712186.0,$round_count = 0;\n$header_printed = false;\n$...
499997,2,NaN,2009-04-03T02:10:49.060,1,NaN,<p>Change:</p>\n\n<pre><code>for ansSeries in ...,9940.0,NaN,None,None,None,None,NaN,0,NaN,None,CC BY-SA 2.5,712225.0,for ansSeries in notmatched:\n\nfor ansSeries ...
499998,1,799526.0,2009-04-03T02:11:16.237,4,3611.0,<p>Here are the first few lines of my page:</p...,63887.0,NaN,None,None,Why can't I use session_start() in my php scri...,<php><session><cookies><header>,2.0,2,NaN,None,CC BY-SA 2.5,NaN,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T..."
499999,2,NaN,2009-04-03T02:14:04.293,5,NaN,"<p>Since, in general, there is more than one p...",15168.0,NaN,None,None,None,None,NaN,1,NaN,None,CC BY-SA 2.5,712322.0,
500000,2,NaN,2009-04-03T02:15:39.347,1,NaN,<p>Ugh. Short of writing your own authenticati...,85863.0,NaN,None,None,None,None,NaN,1,NaN,None,CC BY-SA 2.5,712023.0,X-LIGHTTPD-send-file\nX-sendfile\nmod proxy scgi

In [109]:
import re

python_class_name_pattern = r"class ([a-zA-Z_$][a-zA-Z_$0-9]*)[:(]"
py_func_name_pattern = r"def ([a-zA-Z_$][a-zA-Z_$0-9]*)\("
py_import_pattern = r"(?m)^(?:from[ ]+(\S+)[ ]+)?import[ ]+(\S+)(?:[ ]+as[ ]+\S+)?[ ]*$"
py_variable_names = r"([a-zA-Z_$0-9]+)[ ]="

In [120]:
def find_code_features(code_snippet: str):
    class_names = re.findall(python_class_name_pattern, code_snippet)
    func_names = re.findall(py_func_name_pattern, code_snippet)
    import_names = list(sum(re.findall(py_import_pattern, code_snippet), ()))
    var_names = re.findall(py_variable_names, code_snippet)
    # return {
    #     'class_names' : class_names,
    #     'func_names' : func_names,
    #     'import_names' : import_names,
    #     'var_names' : var_names
    # }
    return import_names

post_df['import_names'] = post_df['code_snippets'].apply(find_code_features)

In [121]:
post_df[['code_snippets', 'import_names']]

                                            code_snippets import_names
PostId
1       decimal trans = trackBar1.Value / 5000;\nthis....           []
2       div\ndiv\npercentage-based width\ndiv\n0 width...           []
3       double\ndouble trans = (double) trackBar1.Valu...           []
4                                                DateTime           []
5          DateTime\n2 hours ago\n3 days ago\na month ago           []
...                                                   ...          ...
499996  $round_count = 0;\n$header_printed = false;\n$...           []
499997  for ansSeries in notmatched:\n\nfor ansSeries ...           []
499998  <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 T...           []
499999                                                              []
500000   X-LIGHTTPD-send-file\nX-sendfile\nmod proxy scgi           []

[500000 rows x 2 columns]

In [132]:
a = post_df[['code_snippets', 'import_names']]
a.dtypes

code_snippets    object
import_names     object
dtype: object

In [134]:
a.loc[len(a['import_names']) > 0]

KeyError: 'True: boolean label can not be used without a boolean index'

Building the graph