# Embeddings
Exploration into how different embeddings can be used to represent posts.

In [1]:
import itertools
import sqlite3
from typing import List
import itertools
import pandas as pd
from typing import *

In [2]:
# Create your connection.
db = sqlite3.connect('../stackoverflow.db')

In [3]:
tag_df = pd.read_sql_query("SELECT * FROM Tag", db)
tag_df.set_index('TagId', inplace=True)
tag_df

            TagName    Count
TagId
1              .net   323469
2              html  1146245
3        javascript  2426650
4               css   771867
5               php  1445747
...             ...      ...
158156  lost-update        1
158157  chai-subset        1
158159       at-spi        1
158160          oro        0
158161       sigsci        1

[63653 rows x 2 columns]

In [4]:
POST_LIMIT = 500000
post_df = pd.read_sql_query(f"SELECT * FROM Post LIMIT {POST_LIMIT}", db)
post_df.set_index('PostId', inplace=True)
post_df

,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditorDisplayName,LastEditDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,CommunityOwnedDate,ContentLicense,ParentId
PostId,,,,,,,,,,,,,,,,,,
1,1,7.0,2008-07-31T21:42:52.667,781,67914.0,<p>I want to assign the decimal variable &quot...,8.0,16124033.0,Rich B,2022-09-08T05:07:26.033,How to convert Decimal to Double in C#?,<c#><floating-point><type-conversion><double><...,14.0,6,60.0,2012-10-31T16:42:47.213,CC BY-SA 4.0,NaN
2,1,31.0,2008-07-31T22:08:08.620,318,23047.0,<p>I have an absolutely positioned <code>div</...,9.0,9134576.0,user14723686,2021-01-29T18:46:45.963,Why did the width collapse in the percentage w...,<html><css><internet-explorer-7>,7.0,0,13.0,None,CC BY-SA 4.0,NaN
3,2,NaN,2008-07-31T22:17:57.883,517,NaN,<p>An explicit cast to <code>double</code> lik...,9.0,5496973.0,None,2019-10-21T14:03:54.607,None,None,NaN,1,NaN,None,CC BY-SA 4.0,4.0
4,1,1404.0,2008-07-31T23:40:59.743,2161,757897.0,<p>Given a <code>DateTime</code> representing ...,1.0,3524942.0,Rich B,2022-07-27T22:34:36.320,How do I calculate someone's age based on a Da...,<c#><.net><datetime>,71.0,10,492.0,2011-08-16T19:40:43.080,CC BY-SA 4.0,NaN
5,1,1248.0,2008-07-31T23:55:37.967,1629,193525.0,<p>Given a specific <code>DateTime</code> valu...,1.0,16790137.0,user2370523,2022-07-10T00:19:55.237,Calculate relative time in C#,<c#><datetime><time><datediff><relative-time-s...,41.0,3,552.0,2009-09-04T13:15:59.820,CC BY-SA 4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499996,2,NaN,2009-04-03T02:10:35.270,2,NaN,<p>If we can assume that:</p>\n\n<ul>\n<li>the...,72990.0,NaN,None,None,None,None,NaN,0,NaN,None,CC BY-SA 2.5,712186.0
499997,2,NaN,2009-04-03T02:10:49.060,1,NaN,<p>Change:</p>\n\n<pre><code>for ansSeries in ...,9940.0,NaN,None,None,None,None,NaN,0,NaN,None,CC BY-SA 2.5,712225.0
499998,1,799526.0,2009-04-03T02:11:16.237,4,3611.0,<p>Here are the first few lines of my page:</p...,63887.0,NaN,None,None,Why can't I use session_start() in my php scri...,<php><session><cookies><header>,2.0,2,NaN,None,CC BY-SA 2.5,NaN
499999,2,NaN,2009-04-03T02:14:04.293,5,NaN,"<p>Since, in general, there is more than one p...",15168.0,NaN,None,None,None,None,NaN,1,NaN,None,CC BY-SA 2.5,712322.0
500000,2,NaN,2009-04-03T02:15:39.347,1,NaN,<p>Ugh. Short of writing your own authenticati...,85863.0,NaN,None,None,None,None,NaN,1,NaN,None,CC BY-SA 2.5,712023.0

In [5]:
BADGE_LIMIT = 500000
badge_df = pd.read_sql_query(f"SELECT * FROM badge LIMIT {BADGE_LIMIT}", db)
badge_df.set_index('BadgeId', inplace=True)
badge_df

         UserId              Name             CreationDate  Class TagBased
BadgeId
1          3718           Teacher  2008-09-15T08:55:03.923      3    False
2           994           Teacher  2008-09-15T08:55:03.957      3    False
3          3893           Teacher  2008-09-15T08:55:03.957      3    False
4          4591           Teacher  2008-09-15T08:55:03.957      3    False
5          5196           Teacher  2008-09-15T08:55:03.957      3    False
...         ...               ...                      ...    ...      ...
499996    51452       Good Answer  2010-02-15T12:27:33.500      2    False
499997   250648            Critic  2010-02-15T12:32:31.950      3    False
499998   162569       Commentator  2010-02-15T12:32:32.713      3    False
499999   116388  Popular Question  2010-02-15T12:32:32.930      3    False
500000   267503        Tumbleweed  2010-02-15T12:32:35.007      3    False

[500000 rows x 5 columns]

In [6]:
user_LIMIT = 500000
user_df = pd.read_sql_query(f"SELECT * FROM user LIMIT {user_LIMIT}", db)
user_df.set_index('UserId', inplace=True)
user_df

,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
UserId,,,,,,,,,,,,
-1009,1,2022-05-17T15:06:54.890,WSO2,2022-05-17T15:06:54.890,None,None,<p>WSO2 solutions give enterprises the flexibi...,0,0,0,None,NaN
-1008,1,2022-01-31T19:45:27.477,Twilio,2022-01-31T19:45:27.477,None,None,<p>Twilio has democratized channels like voice...,0,0,0,None,NaN
-1007,1,2021-09-30T18:39:12.143,AudioBubble2,2021-09-30T18:39:12.143,None,None,<p>Official Q&amp;A support for AudioBubble2</...,0,0,0,None,NaN
-1006,1,2021-09-27T19:40:44.437,Intel,2021-09-27T19:40:44.437,None,None,<p>A space for developers to collaborate on In...,0,0,0,None,NaN
-1005,1,2021-07-29T14:07:57.580,GitLab,2021-07-29T14:07:57.580,None,None,"<p>GitLab is the open DevOps platform, deliver...",0,0,0,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
884592,31,2011-08-08T18:18:02.387,Ann,2011-08-08T18:18:02.387,None,None,None,0,0,0,None,802774.0
884593,335,2011-08-08T18:19:27.857,ymliu,2020-04-23T00:04:46.763,,None,,33,8,0,https://i.stack.imgur.com/jMCNj.jpg,474725.0
884595,123,2011-08-08T18:20:03.193,Neil Woods,2021-09-08T11:14:32.143,,None,,6,3,0,None,802775.0
884597,21,2011-08-08T18:21:27.077,Nathan B,2022-09-22T20:23:45.923,,None,,14,28,0,https://i.stack.imgur.com/CMmBO.jpg,474727.0
884599,31,2011-08-08T18:22:16.987,Quaitex,2011-09-01T14:16:54.883,None,None,None,5,0,0,None,796823.0

In [7]:
comment_LIMIT = 500000
comment_df = pd.read_sql_query(f"SELECT * FROM comment LIMIT {comment_LIMIT}", db)
comment_df.set_index('CommentId', inplace=True)
comment_df

,PostId,Score,Body,CreationDate,UserId,ContentLicense
CommentId,,,,,,
1,45651,6,It will help if you give some details of which...,2008-09-06T13:38:23.647,242.0,CC BY-SA 2.5
2,47428,3,One of the things that make a url user-friendl...,2008-09-06T13:51:47.843,4642.0,CC BY-SA 2.5
3,47481,0,"I agree, both CodeRush and RefactorPro are vis...",2008-09-06T14:15:46.897,4642.0,CC BY-SA 2.5
4,47373,0,Just wanted to mention that this is an excelle...,2008-09-06T14:30:40.217,2495.0,CC BY-SA 2.5
5,47497,1,"Indeed, the only way to do this is get the ser...",2008-09-06T14:42:35.303,4642.0,CC BY-SA 2.5
...,...,...,...,...,...,...
499996,1044179,0,The index is there already. How can I force or...,2009-06-26T05:43:11.223,87248.0,CC BY-SA 2.5
499997,1047464,0,are you sure you can rewrite to a URL on anoth...,2009-06-26T05:43:42.253,109102.0,CC BY-SA 2.5
499998,1045341,0,Not sure if I understood correctly. \nWhere's ...,2009-06-26T05:46:21.890,73715.0,CC BY-SA 2.5
499999,1047471,0,Is there a way to remove that selected class f...,2009-06-26T05:46:23.497,86038.0,CC BY-SA 2.5
500000,1043743,0,I've added some XSLT that does the necessary c...,2009-06-26T05:48:48.330,18771.0,CC BY-SA 2.5

In [8]:
vote_LIMIT = 500000
vote_df = pd.read_sql_query(f"SELECT * FROM vote LIMIT {vote_LIMIT}", db)
vote_df.set_index('VoteId', inplace=True)
vote_df

        PostId  VoteTypeId             CreationDate
VoteId
1            1           2  2008-07-31T00:00:00.000
2            3           2  2008-07-31T00:00:00.000
3            2           2  2008-07-31T00:00:00.000
4            4           2  2008-07-31T00:00:00.000
5            6           2  2008-07-31T00:00:00.000
...        ...         ...                      ...
499996  231200           2  2008-10-23T00:00:00.000
499997  231274           2  2008-10-23T00:00:00.000
499998  230845           5  2008-10-23T00:00:00.000
499999  231245           2  2008-10-23T00:00:00.000
500000  149397           2  2008-10-23T00:00:00.000

[500000 rows x 3 columns]

So, we want to build an embedding for the body of posts.
The body of posts are stored as HTML, we need to split up the text and the code snippets so we can process them separately.

In [9]:
sample_post = post_df.head(1)
sample_post

,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditorDisplayName,LastEditDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,CommunityOwnedDate,ContentLicense,ParentId
PostId,,,,,,,,,,,,,,,,,,
1,1,7.0,2008-07-31T21:42:52.667,781,67914.0,<p>I want to assign the decimal variable &quot...,8.0,16124033.0,Rich B,2022-09-08T05:07:26.033,How to convert Decimal to Double in C#?,<c#><floating-point><type-conversion><double><...,14.0,6,60.0,2012-10-31T16:42:47.213,CC BY-SA 4.0,NaN

Let's process the Body first

In [10]:
from bs4 import BeautifulSoup
import spacy
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torchtext.vocab import GloVe

en = spacy.load('en_core_web_sm')
stopwords = en.Defaults.stop_words

In [11]:
class PostEmbedding(nn.Module):

    def __init__(self):
        super().__init__()
        self._global_vectors = GloVe(name='840B', dim=300)

    def forward(self, html: str, title: str, flatten=True) -> torch.tensor:
        soup = BeautifulSoup(html)
        ps = self.get_paragraphs(soup, title)
        if flatten:
            # Treat all paragraphs the same
            ps = [token for para in ps for token in para]

        para_emb = self.to_paragraph_embedding(ps)

        code = self.get_code(soup)
        return para_emb

    def preprocess(self, text: str) -> List[str]:
        doc = en(text.lower())
        tokens = [word.text for word in doc if not (word.is_stop or word.is_punct or word.like_num)]
        return tokens

    def get_paragraphs(self, soup: BeautifulSoup, title: str=None) -> List[List[str]]:
        paras = [self.preprocess(x.get_text()) for x in soup.find_all('p')]
        # If title is available add it to the paragraphs
        if title is not None:
            paras += self.preprocess(title)
        return paras

    def to_paragraph_embedding(self, tokens: List[str]):
        word_embeddings = self._global_vectors.get_vecs_by_tokens(tokens)
        return torch.sum(word_embeddings, dim=0) / len(tokens)


    def get_code(self, soup: BeautifulSoup) -> str:
        return "\n".join([x.get_text() for x in soup.find_all('code')])


html = sample_post['Body'].item()

embedding = PostEmbedding()
embedding(html, sample_post['Title'].item())

tensor([-3.6374e-02,  1.1305e-01, -2.9251e-01,  4.6058e-03,  1.1432e-01,
         1.3817e-01,  1.8094e-01, -1.4077e-01, -2.9465e-02,  8.6996e-01,
        -2.4227e-01,  1.7903e-03, -9.0644e-02, -2.6434e-02, -1.1753e-02,
        -1.5881e-01, -3.0371e-01,  1.7912e+00, -2.6080e-01,  6.3705e-02,
         3.3689e-02, -6.7376e-02, -1.3606e-01,  5.8075e-02,  2.3817e-01,
        -2.1051e-01, -2.0274e-01, -1.2007e-01,  1.9419e-01,  4.3345e-02,
        -1.2157e-01, -2.8792e-02,  2.0707e-01,  5.3248e-02,  1.3090e-01,
        -7.3865e-02,  8.7552e-02, -5.2587e-02, -2.5966e-01, -1.7451e-01,
         9.2528e-02, -2.5121e-01,  1.5754e-02,  9.7943e-03, -2.0923e-01,
        -6.1129e-03,  4.2967e-03,  1.8417e-01, -4.4229e-02,  1.0786e-01,
        -7.7416e-02,  2.1915e-01,  9.1229e-02, -4.5503e-02,  6.1583e-02,
        -6.6497e-02,  4.0271e-02, -8.5584e-02,  9.0862e-02, -3.6905e-02,
        -3.1869e-02,  1.5599e-01, -1.6684e-01,  9.5459e-02,  8.6566e-03,
         6.3764e-02,  1.6507e-01, -5.7868e-02,  1.2635e-01,  3.5084e-02,
        -1.8181e-02,  2.0929e-01,  6.1381e-03, -2.1185e-01,  2.0875e-01,
        -5.7877e-03, -1.6763e-01, -1.6657e-03,  1.3546e-01, -1.2922e-03,
         2.5813e-02,  1.4587e-01, -6.0748e-02,  2.7971e-01, -1.3223e-01,
         1.3441e-02,  5.1517e-01, -4.5957e-01,  7.1570e-02,  6.0031e-03,
        -1.2266e-01,  5.8546e-02,  2.6375e-02, -2.4059e-01,  1.6735e-01,
         1.4737e-01,  3.9753e-02,  1.4721e-02,  4.8923e-03,  5.5796e-02,
        -4.4108e-02,  9.2886e-02, -4.7641e-02,  4.8820e-02, -5.5781e-02,
        -4.1948e-01,  2.4288e-01, -3.7417e-02, -1.4816e-01,  1.0308e-01,
        -6.9336e-02, -1.0844e-01, -3.7208e-02, -6.5000e-02, -4.8448e-02,
         1.1080e-01, -7.3346e-02, -3.0539e-02, -8.7169e-02,  4.4503e-02,
         2.0317e-01, -9.4962e-02, -3.5851e-02,  2.5206e-02, -2.0442e-01,
         1.0963e-01,  2.9626e-01,  3.5071e-02,  1.8693e-02, -1.6769e-01,
        -2.1641e-02,  4.6062e-01, -3.1421e-02,  4.2701e-02,  1.0721e-01,
         9.8857e-02, -4.1678e-02, -2.0927e-01, -1.5136e-01, -1.9112e-01,
        -1.0427e+00, -1.0529e-01,  1.0680e-01, -6.5143e-02,  2.9127e-02,
        -1.4307e-01,  5.1208e-02,  2.0857e-01, -2.7466e-01, -1.9018e-01,
         1.1354e-01, -6.2476e-03,  1.4769e-01, -4.5229e-03,  3.1324e-02,
        -1.8422e-01, -1.8878e-01,  8.4901e-02,  2.4357e-01,  1.4580e-03,
         1.5736e-01,  6.7952e-02, -2.9599e-02, -6.6300e-02, -1.1379e-01,
        -3.6832e-02, -1.5733e-01, -2.2460e-02, -1.2680e-03,  1.7554e-01,
        -9.7585e-02,  6.3587e-02, -1.9106e-01, -2.6922e-01,  1.4811e-01,
        -8.2532e-02,  3.1161e-02,  1.0939e-01, -1.3534e-01,  1.1171e-02,
         1.3951e-01,  1.9110e-02,  1.8764e-02, -1.1597e-01, -2.3729e-01,
         1.9230e-01, -3.1623e-01,  6.5513e-02,  1.3013e-01,  1.4497e-02,
        -3.7088e-02,  9.2073e-02, -2.3112e-01, -1.1719e-01,  2.6579e-01,
        -1.1962e-01, -2.8811e-02, -4.5259e-01, -1.5807e-01,  1.2421e-03,
         1.0005e-01, -6.1528e-02,  9.2894e-02,  2.4100e-01, -6.6927e-02,
        -1.3903e-01, -6.5851e-02,  2.1972e-03, -9.3033e-02,  5.3871e-02,
        -3.8980e-02,  1.3120e-01, -4.9600e-02, -3.3595e-02, -6.8743e-02,
         5.2723e-02, -1.5917e-01,  1.4971e-01, -2.5889e-01,  1.3380e-01,
         1.1774e-01,  1.4271e-01,  2.0470e-02,  9.0111e-02, -8.0654e-02,
         2.9188e-01, -1.5516e-01, -1.0624e-01,  1.2108e-01, -1.9307e-02,
        -1.8038e-01, -2.6928e-01,  1.1441e-01,  6.6768e-02, -2.8219e-01,
        -1.0843e-01, -1.0348e-01,  1.0993e-01, -4.2919e-01,  2.3482e-01,
         2.0702e-01,  1.3197e-01,  2.0704e-01,  1.7429e-01,  1.2611e-01,
        -1.0745e-01,  2.4112e-01,  3.3692e-02, -2.5452e-01, -6.9537e-02,
         1.7775e-01, -3.3938e-02, -2.2522e-02, -6.8234e-02, -1.1130e-01,
         2.4902e-01, -1.0053e-01, -2.7356e-02,  7.4078e-02, -4.5249e-02,
        -7.9914e-02,  1.1117e-01,  2.0239e-02,  8.5573e-02,  2.5660e-02,
        -1.8129e-01,  7.2276e-02,  9.7285e-02,  4.3870e-01, -2.6918e-01,
         1.7922e-02, -7.1145e-02,  2.9965e-02,  6.9102e-02, -8.5326e-02,
        -8.6552e-02,  1.1103e-02,  1.2541e-03, -6.9890e-02,  1.5100e-01,
         2.1181e-02,  1.4036e-01,  1.0159e-01,  1.2323e-01, -7.2754e-02,
        -2.5326e-01,  2.0318e-01,  6.6203e-03,  1.9592e-01, -9.0636e-03,
         2.0394e-01, -1.5663e-01, -3.1973e-01, -6.1289e-02,  3.1670e-01,
        -1.1282e-01, -1.6557e-01, -1.2395e-01,  5.8688e-02,  6.2929e-02])

## Extracting features from code snippets
Since supervisor meeting on 7th November, we decided to constrain it to Python.
This means that the `ast` library can be used, rather than RegEx for all languages.

In [14]:
pe = PostEmbedding()
post_df['code_snippets'] = post_df['Body'].apply(lambda html: pe.get_code(BeautifulSoup(html)))
post_df

,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditorDisplayName,LastEditDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,CommunityOwnedDate,ContentLicense,ParentId,code_snippets
PostId,,,,,,,,,,,,,,,,,,,
1,1,7.0,2008-07-31T21:42:52.667,781,67914.0,<p>I want to assign the decimal variable &quot...,8.0,16124033.0,Rich B,2022-09-08T05:07:26.033,How to convert Decimal to Double in C#?,<c#><floating-point><type-conversion><double><...,14.0,6,60.0,2012-10-31T16:42:47.213,CC BY-SA 4.0,NaN,decimal trans = trackBar1.Value / 5000;\nthis....
2,1,31.0,2008-07-31T22:08:08.620,318,23047.0,<p>I have an absolutely positioned <code>div</...,9.0,9134576.0,user14723686,2021-01-29T18:46:45.963,Why did the width collapse in the percentage w...,<html><css><internet-explorer-7>,7.0,0,13.0,None,CC BY-SA 4.0,NaN,div\ndiv\npercentage-based width\ndiv\n0 width...
3,2,NaN,2008-07-31T22:17:57.883,517,NaN,<p>An explicit cast to <code>double</code> lik...,9.0,5496973.0,None,2019-10-21T14:03:54.607,None,None,NaN,1,NaN,None,CC BY-SA 4.0,4.0,double\ndouble trans = (double) trackBar1.Valu...
4,1,1404.0,2008-07-31T23:40:59.743,2161,757897.0,<p>Given a <code>DateTime</code> representing ...,1.0,3524942.0,Rich B,2022-07-27T22:34:36.320,How do I calculate someone's age based on a Da...,<c#><.net><datetime>,71.0,10,492.0,2011-08-16T19:40:43.080,CC BY-SA 4.0,NaN,DateTime
5,1,1248.0,2008-07-31T23:55:37.967,1629,193525.0,<p>Given a specific <code>DateTime</code> valu...,1.0,16790137.0,user2370523,2022-07-10T00:19:55.237,Calculate relative time in C#,<c#><datetime><time><datediff><relative-time-s...,41.0,3,552.0,2009-09-04T13:15:59.820,CC BY-SA 4.0,NaN,DateTime\n2 hours ago\n3 days ago\na month ago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499996,2,NaN,2009-04-03T02:10:35.270,2,NaN,<p>If we can assume that:</p>\n\n<ul>\n<li>the...,72990.0,NaN,None,None,None,None,NaN,0,NaN,None,CC BY-SA 2.5,712186.0,$round_count = 0;\n$header_printed = false;\n$...
499997,2,NaN,2009-04-03T02:10:49.060,1,NaN,<p>Change:</p>\n\n<pre><code>for ansSeries in ...,9940.0,NaN,None,None,None,None,NaN,0,NaN,None,CC BY-SA 2.5,712225.0,for ansSeries in notmatched:\n\nfor ansSeries ...
499998,1,799526.0,2009-04-03T02:11:16.237,4,3611.0,<p>Here are the first few lines of my page:</p...,63887.0,NaN,None,None,Why can't I use session_start() in my php scri...,<php><session><cookies><header>,2.0,2,NaN,None,CC BY-SA 2.5,NaN,"<!DOCTYPE html PUBLIC ""-//W3C//DTD HTML 4.01 T..."
499999,2,NaN,2009-04-03T02:14:04.293,5,NaN,"<p>Since, in general, there is more than one p...",15168.0,NaN,None,None,None,None,NaN,1,NaN,None,CC BY-SA 2.5,712322.0,
500000,2,NaN,2009-04-03T02:15:39.347,1,NaN,<p>Ugh. Short of writing your own authenticati...,85863.0,NaN,None,None,None,None,NaN,1,NaN,None,CC BY-SA 2.5,712023.0,X-LIGHTTPD-send-file\nX-sendfile\nmod proxy scgi

In [15]:
import re

python_class_name_pattern = r"class ([a-zA-Z_$][a-zA-Z_$0-9]*)[:(]"
py_func_name_pattern = r"def ([a-zA-Z_$][a-zA-Z_$0-9]*)\("
py_import_pattern = r"(?m)^(?:from[ ]+(\S+)[ ]+)?import[ ]+(\S+)(?:[ ]+as[ ]+\S+)?[ ]*$"
py_variable_names = r"([a-zA-Z_$0-9]+)[ ]="

In [16]:
def find_code_features(code_snippet: str):
    class_names = re.findall(python_class_name_pattern, code_snippet)
    func_names = re.findall(py_func_name_pattern, code_snippet)
    import_names = list(sum(re.findall(py_import_pattern, code_snippet), ()))
    var_names = re.findall(py_variable_names, code_snippet)
    # return {
    #     'class_names' : class_names,
    #     'func_names' : func_names,
    #     'import_names' : import_names,
    #     'var_names' : var_names
    # }
    return import_names

post_df['import_names'] = post_df['code_snippets'].apply(find_code_features)

In [19]:
post_df[['code_snippets', 'import_names']].loc[post_df['import_names'].astype(str) != '[]']

,code_snippets,import_names
PostId,,
326,Premature end of script headers\n\nimport cgi\...,"[, cgi, , MySQLdb, , MySQLdb, , cgi]"
392,from SomeOtherProduct.SomeModule import SomeCl...,"[SomeOtherProduct.SomeModule, SomeClass]"
710,"raw_input()\nraw_input\nimport sys\nprint """"""M...","[, sys]"
716,import msvcrt\nanswer=msvcrt.getch()\n,"[, msvcrt]"
720,#!C:\python25\python.exe\nimport msvcrt\nprint...,"[, msvcrt]"
...,...,...
499774,import java.io.File;\n\npublic class Main\n{\n...,"[, java.io.File;]"
499834,"s=""hello""\ntype(s) == type("""")\n\ndef firstEle...","[, types]"
499929,for (final String code : Locale.getISOCoun...,"[, java.util.Locale;, , java.util.*;]"
499948,import java.util.*;\n\npublic class LocaleTest...,"[, java.util.*;]"
499949,import java.util.*;\nimport java.util.Locale;\...,"[, java.util.*;, , java.util.Locale;]"

In [18]:
a = post_df[['code_snippets', 'import_names']]
a.dtypes

code_snippets    object
import_names     object
dtype: object

## Building the graph
We want to build a user-expertise graph

In [ ]:
USER_ID = 653
user_df.loc[USER_ID]

In [ ]:
questions_by_user = pd.read_sql_query(f"SELECT * FROM Post WHERE OwnerUserId={USER_ID} AND PostTypeId=1", db)
questions_by_user.set_index('PostId', inplace=True)
questions_by_user

In [ ]:
answers_by_user = pd.read_sql_query(f"SELECT * FROM Post WHERE OwnerUserId={USER_ID} AND PostTypeId=2", db)
answers_by_user.set_index('PostId', inplace=True)
answers_by_user

In [ ]:
comments_by_user = pd.read_sql_query(f"SELECT * FROM Comment WHERE UserId={USER_ID}", db)
comments_by_user.set_index('CommentId', inplace=True)
comments_by_user

## Tag Embeddings

In [ ]:
def parse_tag_list(tag_list: str) -> List[str]:
    return tag_list[1:-1].split("><")

def get_parent_tags(post_id: int) -> str:
    tags = pd.read_sql_query(f"SELECT Tags FROM Post WHERE PostId={post_id}", db)
    return tags['Tags'].item()

In [ ]:
tag_frequency = {}

for i, row in questions_by_user.iterrows():
    tags = parse_tag_list(row.Tags)
    for t in tags:
        if t in tag_frequency:
            tag_frequency[t] += 1
        else:
            tag_frequency[t] = 1

for i, row in answers_by_user.iterrows():
    tag_list = get_parent_tags(row.ParentId)
    if tag_list is None:
        continue
    for t in parse_tag_list(tag_list):
        if t in tag_frequency:
            tag_frequency[t] += 1
        else:
            tag_frequency[t] = 1

{k: v for k, v in sorted(tag_frequency.items(), key=lambda item: item[1], reverse=True)}

So we can see there are many categories and for a single user; but there is a lot of variance.
Can we create an embedding for tags which reflect similar categories?

Step 1. Build list of Tag vocabulary

In [ ]:
tag_df.head()

In [ ]:
tag_df["TagName"].to_csv("tag_vocab.csv", index=False)

In [ ]:
tag_vocab = list(set(tag_df["TagName"]))

In [ ]:
post_tags = pd.read_sql_query(f"SELECT Tags FROM Post WHERE PostTypeId=1", db)
post_tags.to_csv("all_tags.csv", index=False)

In [ ]:
post_tags = pd.read_csv("all_tags.csv")

In [ ]:
tag_list_df = post_tags['Tags'].apply(lambda row: parse_tag_list(row))

In [ ]:
combinations = tag_list_df.apply(lambda row: list(itertools.combinations(row, 2)))

In [ ]:
combinations = combinations[combinations.astype(str) != '[]']

In [ ]:
tag_pairs = []
for i in combinations:
    tag_pairs += i

In [ ]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
device

In [ ]:
import random

TRAIN_SIZE = 10000
tag_pairs = random.sample(tag_pairs, TRAIN_SIZE)
tag_pairs

In [ ]:
len(tag_pairs), len(tag_vocab)

In [ ]:
tag_to_ix = {tag: i for i, tag in enumerate(tag_vocab)}

In [ ]:
class TagEmbedding(nn.Module):

    def __init__(self, vocab_size, embedding_dim):
        super(TagEmbedding, self).__init__()
        self.embedding = nn.Embedding(vocab_size, embedding_dim)
        self.linear1 = nn.Linear(embedding_dim, 128)
        self.linear2 = nn.Linear(128, vocab_size)

    def forward(self, inputs):
        embeds = self.embedding(inputs).view((1, -1))
        out = F.relu(self.linear1(embeds))
        out = self.linear2(out)
        log_probs = F.log_softmax(out, dim=1)
        return log_probs

In [ ]:
losses = []
loss_function = nn.NLLLoss()
model = TagEmbedding(vocab_size=len(tag_vocab), embedding_dim=20).to(device)
optimizer = optim.SGD(model.parameters(), lr=0.001)

In [ ]:
from tqdm import tqdm

for epoch in range(1):
    total_loss = 0
    for tag_a, tag_b in tqdm(tag_pairs):
        tag_a_id = torch.tensor(tag_to_ix[tag_a], dtype=torch.long).to(device)
        model.zero_grad()
        log_probs = model(tag_a_id)
        loss = loss_function(log_probs.flatten(), torch.tensor(tag_to_ix[tag_b], dtype=torch.long).to(device))
        loss.backward()
        optimizer.step()
        total_loss += loss.item()
    losses.append(total_loss)

In [ ]:
embd_a = model.embedding.weight[tag_to_ix["python"]]
embd_b = model.embedding.weight[tag_to_ix["java"]]

In [ ]:
sim = torch.nn.CosineSimilarity(dim=0)
sim(embd_a, embd_b)

In [ ]:
from torch.utils.tensorboard import SummaryWriter
writer = SummaryWriter('runs/visualisation2')

In [ ]:
tag_vocab

In [ ]:
loaded_model = torch.load("10mil.pt", map_location=torch.device('cpu'))
writer.add_embedding(loaded_model.embedding.weight,
                         metadata  = tag_vocab,
                        tag = f'Tag embedding')

In [ ]:
writer.close()